<head>
  <title>Mad Libs</title>
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>


<body>
  <div class="container">
    <h1>Fill in the blanks to write your story!</h1>
    <div>
      <form action="/display" method="post" id="formOne">
        <div class="form-group">
          <label for="noun">A noun</label>
          <input id="noun" name="noun" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="pluralNoun">A plural noun</label>
          <input id="pluralNoun" name="pluralNoun" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="presentTenseVerb">A present tense verb</label>
          <input id="presentTenseVerb" name="presentTenseVerb" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="anotherPresentTenseVerb">Another present tense verb</label>
          <input id="anotherPresentTenseVerb" name="anotherPresentTenseVerb" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="partOfBodyPlural">A part of body(plural)</label>
          <input id="partOfBodyPlural" name="partOfBodyPlural" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="adjective">An adjective</label>
          <input id="adjective" name="adjective" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="anotherPluralNoun">Another plural noun</label>
          <input id="anotherPluralNoun" name="anotherPluralNoun" class="form-control" type="text">
        </div>
        <div class="form-group">
          <label for="anotherAdjective">Another adjective</label>
          <input id="anotherAdjective" name="anotherAdjective" class="form-control" type="text">
        </div>

        <button type="submit" class="btn">Show me the story!</button>
      </form>
    </div>
  </div>
</body>
